
<div class="m-5">
  <h2 class="text-center"><%= @recipe.name %></h2>
 
  <div class="d-flex justify-content-between">
    <p>Prepration time: <%= @recipe.prepration_time %></p>
    <p class="">public</p>
  </div>
   <div>
     <p>Cooking time: <%= @recipe.cooking_time %></p>
   </div>
   <div>
     <p>Steps goes here...</p>
   </div>

</div>