<footer class="footer">
<p>Created by <a class="footer-links" href="https://github.com/thecodechaser">Ranjeet Singh</a> and <a class="footer-links" href="https://github.com/Buyaki01">
Ritta Buyaki</a> © 2022</p>
</footer>
