<div>  
  <div class="d-flex justify-content-end m-3">
    <button> Add Food </button>
  </div>
  <table class="table m-3">
    <thead>
        <tr>
        <th scope="col">Food</th>
        <th scope="col">Measurement Unit</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">Apple</th>
        <td>Grams</td>
        <td> $5 </td>
        <td> Delete </td>
        </tr>
    </tbody>
  </table>
</div>
