<div>  
  <div class="d-flex justify-content-end m-3">
    <button class='btn btn-outline-info'>
      <%= link_to 'Add new food', new_food_path, class: "nav-link" %>
    </button> 
  </div>
  <table class="table m-3">
    <thead>
        <tr>
        <th scope="col">Food</th>
        <th scope="col">Measurement Unit</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
        <th scope="row"> <%= food.name %> </th>
        <td> <%= food.measurement_unit %> </td>
        <td> <%= food.price %> </td>
        <td> Delete </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
