/*
 *= require font-awesome
 */

 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap');

 /* application-layout */

 body {
   background-color: #ffffff;
   font-family: 'Poppins', sans-serif;
   margin-top: -15px;
 }

.session-msg {
  display: flex;
  justify-content: end;
  margin: 100px 50px 50px 0;
  font-size: 15px;
}

.sign-out-btn {
  text-decoration: none;
  color: #fff;
  background-color: #2276f4;
  padding: 4px 8px;
  border-radius: 8px;
  margin-top: -3px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  position: fixed;
  box-shadow: 0 5px #EDEDED;
  width: 100%;
}

.logo {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.menu-optns {
  display: flex;
}

.nav-link {
  font-size: 17px;
}

.nav-link:hover {
  font-weight: 600;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-links {
  text-decoration: none;
  font-weight: 500;
  font-family: 'Nunito', sans-serif;
}
