/*
 *= require font-awesome
 */

 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito&family=Poppins&display=swap');

 /* application-layout styles*/

 body {
   background-color: #ffffff;
   font-family: 'Poppins', sans-serif;
   margin-top: -15px;
 }

 .notice-alert {
   margin-left: 30px;
   color: #2276f4;
   font-size: 18px;
   font-family: 'Anton', sans-serif;
   }

.session-msg {
  display: flex;
  justify-content: end;
  margin: 100px 50px 50px 0;
  font-size: 15px;
}

.sign-out-btn {
  text-decoration: none;
  color: #fff;
  background-color: #2276f4;
  padding: 4px 8px;
  border-radius: 8px;
  margin-top: -3px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  box-shadow: 0 5px #EDEDED;
  width: 100%;
  margin-top: 10px;
}

.logo {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.menu-optns {
  display: flex;
}

.nav-link {
  font-size: 17px;
}

.nav-link:hover {
  font-weight: 600;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-links {
  text-decoration: none;
  font-weight: 500;
  font-family: 'Nunito', sans-serif;
}

/* home-page styles */

.home-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 100px;
  margin-top: 70px;
}

.home-h1 {
  font-size: 35px;
  color: #2276f4;
}

.home-p {
  margin-top: 50px;
}

/* foods-page styles */

.foods-c {
  margin-top: 70px;
}

.foods-h3 {
  text-align: center;
  color: #2276f4;
}

.food-new-btn {
  background-color: #2276f4;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-right: 40px;
}

.food-new-btn-t {
  color: #fff;
  text-decoration: none;
}

.food-dlt-btn {
  background-color: #2276f4;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  color: #fff;
}

/* recipes-page styles */

.recipes-c {
  margin-top: 70px;
}

.recipes-h3 {
  text-align: center;
  color: #2276f4;
}

.recipe-new-btn {
  background-color: #2276f4;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-right: 40px;
}

.recipe-new-btn-t {
  color: #fff;
  text-decoration: none;
}

.recipes-col {
  display: flex;
  flex-direction: column;
  gap: 50px;
  /* align-items: center; */
}

.each-recipe-c {
  margin: 0 200px;
  display: flex;
  justify-content: space-between;
}

.recipe-dlt-btn {
  background-color: #2276f4;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  color: #fff;
}

.each-recipe-link {
  text-decoration: none;
}

/* public-recipes styles  */


